.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 48px;
    min-height: 48px;
    @include fontSize(1.4);
    font-weight: $bold;
    color: $white;
    background-color: $black;
    border: 1px solid $black;
    cursor: pointer;

    &--secondary {
        border: none;
        color: $black;
        background-color: $secondary;
    }

    &--transparent {
        background: none;
        border: none;
        cursor: pointer;
    }

    &--iconText {
        gap: $gutter;
        color: $black;
        background: none;
        border: 1px solid $black;
    }

    &--icon {
        width: auto;
        padding: 0;
        @include fontSize(2.4);
        background: none;
        border: none;
    }

    &--buy {
        @include fontSize(1.6);
        height: 60px;
    }

    &--buyTile {
        height: 40px;
    }
}