.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: $gutter * 2;
    @include fontSize(1.4);
    font-weight: $bold;
    color: $white;
    border: 1px solid $black;
    cursor: pointer;

    &--secondary {
        border: none;
        color: $black;
        background-color: $secondary;
    }

    &--transparent {
        padding: 0;
        background: none;
        border: none;
        cursor: pointer;
    }

    &--icon {
        @include fontSize(2.4);
        background: none;
        border: none;
    }
}