.grid {
    &--card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $gutter * 2;

        & > * > img {
            width: 40vw;
            height: 40vw;
            max-width: 300px;
            max-height: 300px;
        }
    }
}