input, select, textarea {
    width: 100%;
    min-height: 32px;
    padding: 0;
    @include fontSize(1.6);
    background-color: $white;
    border: 1px solid $black;
    border-radius: $borderRadius;
}

textarea {
    min-height: 200px;
}

.input {
    min-height: 32px;

    &--transparent {
        background-color: transparent;
        border: 1px solid $white;
    }
}

input[type="radio"] {
    width: auto;
    height: auto;
    min-width: 20px;
}

label.required::after {
    content: " *";
}

.radioField {
    label {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        width: auto;
        align-items: center;
        gap: 4px;
    }
}