@import '../../styles/source/core.scss';

.minicart {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $blackOpacity;
    z-index: 1;

    &__wrapper {
        width: 80vw;
        max-width: 400px;
        height: 100%;
        background-color: $white;
        overflow: auto;
        z-index: 2;
    }


    &__checkout {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 80vw;
        max-width: 400px;
    }

    &__top {
        display: flex;
        flex-direction: column;
        gap: $gutter * 3;
        padding: $gutter * 3 $gutter * 2 $gutter * 2 $gutter * 2;
        color: $white;
        background-color: $primary;
    }


    &__total {
        display: flex;
        align-self: flex-end;
        gap: $gutter;

        span {
            @include fontSize(1.6);
            font-weight: $bold;
        }
    }

    &__action {
        display: flex;
        align-items: flex-end;
        gap: $gutter * 4;
    }

    &__title {
        @include fontSize(2.0);
        font-weight: $medium;
    }

    &__body {
        position: relative;
    }

    &__items {
        display: flex;
        flex-direction: column;
        padding: $gutter * 2 $gutter * 2 $gutter * 5 $gutter * 2;
        gap: $gutter * 2;

        &:last-child {
            border-bottom: none;
        }
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        gap: $gutter * 2;
        padding-bottom: $gutter * 2;
        border-bottom: 1px solid $black;

        img {
            background-color: lightgray;
        }

        > div {
            display: flex;
            flex-direction: column;
            flex: 1;
            min-width: 200px;
        }
    }
}