@import '../../styles/source/core.scss';

.loginPage {
    min-height: 80vh;

    h1 {
        padding-bottom: $gutter * 2;
    }

    form {
        padding: $gutter * 2;
        border: 1px solid $black;
    }

    &__wrapper {
        padding: $gutter * 2 $gutter * 2 $gutter * 5 $gutter * 2;
    }

    &__register {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 4px;
        padding-top: $gutter * 2;
    }
}