@import '../../styles/source/core.scss';

.registerPage {
    h1 {
        padding-bottom: $gutter * 2;
    }

    form {
        padding-bottom: $gutter;
    }

    &__wrapper {
        padding: $gutter * 2 $gutter * 2 $gutter * 5 $gutter * 2;
    }

    &__login {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 4px;
    }
}