@import '../../../styles/source/core.scss';

.productCart {
    display: flex;
    flex-wrap: wrap;
    gap: $gutter;
    border-bottom: 1px solid $black;

    img {
        height: 100%;
        background-color: lightgray;
    }

    &__description {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: $gutter;
        min-width: 200px;
        max-width: 300px;
        padding-bottom: $gutter;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: $gutter;
    }

    &__title {
        @include fontSize(1.6);
        color: $black;
        font-weight: $bold;
    }

    &__company {
        font-weight: $medium;
    }

    &__prices {
        display: flex;
        flex-direction: column;
        padding-bottom: $gutter;

        span {
            @include fontSize(1.6);

            &:first-child {
                @include fontSize(2.0);
                font-weight: $bold;
            }
        }
    }
}