@import '../../../styles/source/core.scss';

.productCount {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    max-width: 160px;

    input {
        display: flex;;
        height: 46px;
        text-align: center;
        border-radius: 0;
    }

    button {
        @include fontSize(2.4);
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;

        &:last-child {
            right: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
        }
    }
}