@import '../../styles/source/core.scss';

.checkoutPage {
    min-height: 80vh;

    h2 {
        @include fontSize(1.8);
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: $gutter * 2;
        padding: $gutter * 2 $gutter * 2 $gutter * 5 $gutter * 2;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: $gutter * 2;
        border: 1px solid $black;
        border-radius: 12px;
    }

    &__boxBottom {
        padding-top: $gutter;
    }

    &__listProducts, &__details {
        display: flex;
        flex-direction: column;
        gap: $gutter * 2;
    }

    &__products {
        display: flex;
        flex-direction: column;
        gap: $gutter;
    }
}