@import '../../../styles/source/core.scss';

.myDataPage {
    min-height: 80vh;

    h1 {
        padding-bottom: $gutter * 2;
    }

    &__wrapper {
        padding: $gutter * 2 $gutter * 2 $gutter * 5 $gutter * 2;
    }
}

