@import '../../styles/source/core.scss';

.footer {
    padding: $gutter * 4;
    color: $white;
    background-color: $ternary;

    &__links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: $gutter * 2;

        @include fontSize(1.2);
    }
}