$gutterHalf: 4px;
$gutter: 8px;

$aboveMobile: "min-width: 520px";
$aboveTablet: "min-width: 768px";
$aboveDesktopSmall: "min-width: 992px";
$aboveDesktopLarge: "min-width: 1200px";

$desktopSmallSize: 992px;