.img-fluid {
    width: 100%;
    height: auto;
}

.img-round {
    border-radius: 50%;
}

.cropImage {
    overflow: hidden;
}

.listNoDots {
    list-style: none;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: $fontFamily;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
}

.textAcessibility {
    position: absolute;
    z-index: -99;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

p, span, a, label {
    @include fontSize(1.4);
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

span, p {
    a {
        font-weight: $bold;
        text-decoration: underline;
    }
}

.border {
    &--none {
        border: none;
    }
    &--top {
        border-top: 1px solid $borderPrimary;
    }
    &--bottom {
        border-bottom: 1px solid $borderPrimary;
    }
}

@media ($aboveDesktopSmall) {
    .container {
        max-width: $desktopSmallSize;
    }
}